.banner {
    background: #F2F0F1;
}

.banner .col-6:first-child {
    margin: 103px auto;
}

.banner .col-6:first-child > * {
    max-width: 577px;
    margin-bottom: 2rem;
}

.banner .col-6:last-child {
    text-align: center;
}

.banner h1{
    font-size: 64px;
}

.banner h3{
    font-size: 24px;
    margin-bottom: 0.1rem;
}

.banner h1, .banner h2, .banner h3 {
    font-weight: 900;
}

.banner .tips {
    margin-top: 1rem;
}